body { 
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  color: black; 
  background-color: var( --brand-color);
}
:root {
  --brand-color:#FFFFFF;
  --link-color: #2E2F42;
  --link-color-add: black;
  }
  p, h1,h2,h3,h4,h5,h6 {
    margin-top: 0;
    margin-bottom: 0;
  }
  ul,ol {
  list-style-type: none;
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  }
  a {
    text-decoration: none;
    color: black; 
  }
  .container {
    width: 100%;
    min-width: 1346px;
    padding-left: 32px;
    padding-right: 32px;
    margin: 0 auto;
    outline: solid 2px red;
  }
  /*Header styles*/
  .header {
    padding-top: 24px;
    padding-bottom: 30px;
}
.header-container {
  display: flex;
  align-items: center;
}
.header-nav {
  display: flex;
  align-items: center;
  gap: 200px;
}
.header-logo {
font-family: Roboto, sans-serif;
font-size: 30px;
font-weight: 800;
line-height: 1.16;
letter-spacing: 0.03em;
text-align: left;
text-transform: uppercase;
display: flex;
align-items: center;
}
.img-logo {
  margin-left: 4px;
}
.header-nav-list {
display: flex;
 gap: 40px;
}
.header-nav-item {
/*padding-top: 10px; 
padding-bottom: 10px;*/
}
.header-nav-link {
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: left;
color: black;
}
.header-nav-adress {
  display: flex;
  margin-left: auto ;
}
.nav-adress-list {
}
.nav-adress-item {
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: left;
color: black; 
}
.nav-adress-link {
}
.hero {
  padding-bottom: 80px;
}
.hero-container {
 
}
.hero-h-p {
  display: flex;
}
.hero-title {
font-family: Roboto, sans-serif;
font-size: 56px;
font-weight: 700;
line-height: 1.07;
letter-spacing: 0.02em;
text-align: left;
text-transform: uppercase;
}
.hero-text {
font-family: Roboto, sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: left;
}
.hero-btn {
font-family: Roboto, sans-serif;
font-size: 16px;
font-weight: 500;
line-height: 1.5;
letter-spacing: 0.04em;
text-align: left;
text-transform: uppercase;
text-decoration: underline;
}
.about {
  padding-bottom: 80px;
  display: flex;
  justify-content: flex-end;
}
.about-title {
  font-size: 48px;
  font-weight: 500;
  text-align: left;
  line-height: 1.11;
  letter-spacing: 0.02em;
}
.about-list {
  text-align: right;
}
.about-item {
}
.about-item-text {
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: left;

}
.about-list-advan {
}
.about-item-advan {
}
.about-item-title {
font-size: 36px;
font-weight: 500;
text-align: left;
line-height: 1.5;
letter-spacing: 0.02em;
margin-bottom: 33px;
}
.about-item-text-advan {
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: left;
color: black; 
}
.steps {
  padding-bottom: 80px;
}
.steps-list {
}
.steps-item {
}
.projekt {
  padding-bottom: 120px;
}
.projekt-list {
  display: flex;
  gap: 20px;
}
.projekt-item {
  width: calc((100%-40px)/3);
}
.reviews {
  padding-bottom: 120px;
}
.reviews-title {
font-size: 48px;
font-weight: 500;
line-height: 1.11;
letter-spacing: 0.02em;
text-align: left;
margin-bottom: 33px;
}
.reviews-list {
  padding: 0 20px;
  display: flex;
  gap: 20px;
}
.reviews-item {
  width: calc((100%-40px)/3);
  border: 1px solid black;
  padding: 40px 40px 63px 40px;
  
}
.reviews-img {
  margin-bottom: 47px;
}
.reviews-name {
font-size: 18px;
font-weight: 500;
line-height: 1.33;
letter-spacing: 0.02em;
text-align: center;
margin-bottom: 21px;
}
.reviews-text {
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: center;

}
.footer {
}
.footer-text {
font-size: 18px;
font-weight: 400;
line-height: 1.33;
letter-spacing: 0.02em;
text-align: left;
color: black; 
text-transform: uppercase;
}
.footer-tex {
font-size: 16px;
font-weight: 400;
line-height: 1.5;
letter-spacing: 0.02em;
text-align: left;
color: black; 
}
.footer-link {
font-size: 18px;
font-weight: 400;
line-height: 1.33;
letter-spacing: 0.02em;
text-align: left;
color: black; 
text-transform: uppercase;
}